

.customer_reviews {
padding: 80px 15px 80px 15px;
box-sizing: border-box;
margin-right: auto;
margin-left: auto;
width: 1170px;
position: relative;
}

.customerreviews {
    width: 70%;
    /* position: relative; */
}

.review {
    margin-bottom: 20px;
}

.blockquote {
    /* position: absolute; */
}

blockquote {
    display: inline-block;
    /* float: left; */
}

blockquote::before {
    content: open-quote;
    /* position: relative; */
    top: 14px;
    left: -20px;
}