.futerMenuLine {
    border-bottom:  1px solid #edf0f2;
    width: 100%;
}

.futerMenu {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 15px;
    width: 1170px;
    box-sizing: border-box;
    position: relative;
}

.futerMenu_menu {
    /* width: 50%; */
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.futerMenu_menu a {
    padding: 5px 20px 5px 0;
    height: 25%;
    box-sizing: border-box;
}


footer nav {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.futerSign {
    /* height: 100%; */
    /* float: right; */
    display: flex;
    align-content: flex-end;
    vertical-align: middle;
}

.diva {
    display: flex;
    
    align-items: center;
}



/* .a, .p {
    display: table-cell;
    vertical-align: middle;
} */


/* .futerSign span {
    display: table-cell;
    vertical-align: middle;
}

.futerSign p {
    vertical-align: middle;
} */