.futerMenu {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 15px;
    width: 1170px;
    box-sizing: border-box;
    position: relative;
}

.futerMenu_menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}