nav {
	width: 1170px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 100px;
	height: 100px;
	float: left;
	box-sizing: border-box;
	max-height: 95px;
	line-height: 65px;
}

.logop {
	display: inline-block;
	outline: 0;
	padding: 15px 0;
	box-sizing: border-box;
	line-height: 65px;
	margin: 0;
}

#logo {
	vertical-align: middle;
	display: inline-block;
	width: 85px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border: 0;
	box-sizing: border-box;
	line-height: 65px;
}

ul {
	float: right;
}

li {
	display: block;
	position: relative;
	float: left;
	margin: 10px;
}

.bgcolor-skylight {
	background-color: #fafafa;
	box-sizing: border-box;
}

.content1 {
	padding: 80px 15px 80px 15px;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
	height: 626px;
	position: relative;
}

.content11 {
	width: 568px;
	margin-right: 2px;
	float: left;
	height: 100%;
	position: relative;	
}

.content12,
.content13 {
	position: relative;
	/*left: 50%; */
	/* top: 0px; */
	float: left;
	width: 568px;
	/*display: block;*/
	box-sizing: border-box;
	height: 231px;
	overflow: hidden;
	margin-left: 2px;
}

.content12 {
	margin-bottom: 2px;
}

.content13 {
	margin-top: 2px;
}

.fullwidthimg {
	width: 100%;
	display: block;
	height: 466px;
}

.img2 {
	width: 100%;
}

.image:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	box-sizing: border-box;
}

.content11:hover .image:after {
	opacity: 0.5;
}

.content12:hover .image:after {
	opacity: 0.5;
}

.content13:hover .image:after {
	opacity: 0.5;
}

/*.textcontainer11,
.textcontainer12,
.textcontainer13, */
.textcontainer
 {
/*box-sizing: border-box; */
	width: 100%;
	margin: 0px;
	 /* display: block; */
	/*float: left;*/
	height: 100%;
	position: absolute;
	bottom: 0;
	height: 100%;
}

.imagetext {
	box-sizing: border-box;
	padding: 25px;
	bottom: 0px;
	position: absolute;
	color: white;
	opacity: 0;
	transition-property: all;
	transition-duration: 0.3s;
	transform: translateY(25px);
}

.content11:hover .imagetext {
	opacity: 1;
	transform: translateY(0)
}

.content12:hover .imagetext {
	opacity: 1;
	transform: translateY(0)
}

.content13:hover .imagetext {
	opacity: 1;
	transform: translateY(0)
}

.descrmain {
	color: #fff;
	border-bottom: 1px solid #edf0f2;
}



.descr {
	width: 1170px;
	padding: 80px 15px 80px 15px; 
	margin-right: auto;
	margin-left: auto;
	/*display: flex;
	justify-content: center;*/
	box-sizing: border-box;
	display: table;
	content: " ";
}

.descrmargin {
	height: 100%;
	margin: 0 -15px 0 -15px;
	display: table;
	content: " ";

}
.descr1 {
	width: 33.33%;
	box-sizing: border-box;
	padding: 0 15px 0 15px;
	float: left;

/* Animation */

	visibility: visible;
	/* animation-delay: 0.3s; */
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

.fadeInLeft1 {
	animation-delay: 0.3s;
}

.fadeInLeft2 {
	animation-delay: 0.2s;
}

.fadeInLeft3 {
	animation-delay: 0.1s;
}

.descr1 h3,
.descr1 p {
	color: black;
}

.clientscontainer {
	width: 1170px;
	padding: 80px 15px 80px 15px; 
	margin-right: auto;
	margin-left: auto;
	/*display: flex;
	justify-content: center;*/
	box-sizing: border-box;
	display: table;
	content: " ";
}

.clients1 {
	margin-bottom: 40px;
}

.clientstext {
	width: 50%;
}

.clients2 {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.workbackground {
	background-color: #fafafa;
}

.workcontainer {
	padding: 80px 15px 80px 15px;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
	position: relative;
}

.worktextcontainer {
	margin-bottom: 40px;
}

.worktext {
	width: 50%;
}

.workimgcontainer {
	display: flex;
	height: 674px;
	position: relative;
	margin: 0 -2px;
}

.workimg1container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 2px;
	margin-bottom: 4px;	
	width: 66.66%;
	height: auto;
	box-sizing: border-box;
}

.workimg1,
.workimg2 {
	position: relative;
}

.fullwidthimg2 {
	width: 100%;
	height: 100%;
}

.workimg1:hover .image:after {
	opacity: 0.5;
}

/* .textcontainer21 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
} */

.workimg1:hover .imagetext {
	opacity: 1;
	transform: translateY(0)
}

.workimg2container {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 2px;
	margin-bottom: 4px;	
	width: 33.34%;
	height: auto;
	box-sizing: border-box;
}

.workimg2:hover .image:after {
	opacity: 0.5;
}

.workimg2:hover .imagetext {
	opacity: 1;
	transform: translateY(0)
}

.image {
	height: auto;
}
