.team_background {
    background-color: #fafafa;
    position: relative;
}

.team {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 15px;
    width: 1170px;
    box-sizing: border-box;
}

.meetteam {
    margin-bottom: 40px;
    /* position: absolute; */
}

.text1 {
    width: 50%;
}

.photos {
    display: flex;
    justify-content: space-between;
}

.unit {
    width: 32%;
}

img {
    max-width: 100%;
    visibility: visible;
    /* width: 100%; */
    height: 100%;
    /* margin-bottom: 20px; */
    /* scale: 0; */
    /* animation: "photoscale" 0.5s 3s 2s iteration-count direction fill-mode; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: scale 0.5s linear 3s; */
    animation-name: zoomIn;
    animation-duration: 1s;   
    animation-fill-mode: both;
    animation-delay: 2s;
}


@keyframes zoomIn {
    0% {
        transform: scale3d(.3, .3, .3);
        opacity: 0;
    }
    
    100% {
        /* transform: scale3d(.3, .3, .3); */
        opacity: 1;
    }
}

h4, p {
    margin-bottom: 20px;
}
span {
    margin-left: 10px;
}

a.readmore::after {
    content: "-";
    margin-left: 10px;
}