.work-images {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin: -20px 0;
}

.work-images .work-image {
  width: 66%;
  /* height: 10%; */
  position: relative;
  /* padding: 20px; */
  margin: 20px 0;
  box-sizing: border-box;
}

.work-images .work-image33 {
  width: 33%;
  /* height: 10%; */
  position: relative;
  /* padding: 20px; */
  margin: 20px 0;
  box-sizing: border-box;
}

.work-images .work-image__image {
  width: 100%;
  display: block;
}

.work-images .work-image__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work-images .work-image__text h3 {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work-images .work-image__text p {
  font-size: 16px;
  margin: 0 0 16px;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work-images .work-image:hover .work-image__text,
.work-images .work-image33:hover .work-image__text
 {
  background-color: rgba(0, 0, 0, 0.5);
}

.work-images .work-image:hover .work-image__text h3,
.work-images .work-image33:hover .work-image__text h3
{
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-images .work-image:hover .work-image__text p,
.work-images .work-image33:hover .work-image__text p
{
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=workImages.css.map */