.work-images {
  .work-image {
    width: 66.66%;
    position: relative;
    &__image {
      width: 100%;
      display: block;
    }
    &__text {
      display: flex;
      flex-flow: column;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #ffffff;
      justify-content: flex-end;
      padding: 25px;
      box-sizing: border-box;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      h3 {
        transform: translateY(150px);
        transition: all 0.3s linear;
      }
      p {
        font-size: 16px;
        margin: 0 0 16px;
        transform: translateY(150px);
        transition: all 0.3s linear;
      }
    }
    &:hover {
      .work-image__text {
        background-color: rgba(0, 0, 0, 0.5);
        h3 {
          transform: translateY(0);
        }
        p {
          transform: translateY(0);
        }
      }
    }
  }
}
